<div class="container">
    <h1><i class="material-icons">star_rate</i>ПоследнеСпринтОметр<i class="material-icons">star_rate</i></h1>
    <i ng-show="hoursToWorkPerDay <= 8" class="material-icons face happy">mood</i>
    <i ng-show="hoursToWorkPerDay >8 && hoursToWorkPerDay <= 10" class="material-icons face nothappy">mood</i>
    <i ng-show="hoursToWorkPerDay >10" class="material-icons face sad">mood_bad</i>

    <div class="stats">
        <div><span>{{workingDaysBetweenDates(now,DEADLINE) | number : 0}}</span> рабочих дней до конца</div>
        <div><span>{{totalIssues}}</span> всего задач до конца</div>
        <div><span>{{totalEstimates}}</span> часов всего оценено задач</div>
        <div><span>{{perTeamMember| number : 0}}</span> часов <span>{{(perTeamMember% 1)*60 | number : 0 }}</span> минут оценено на каждого человека</div>
        <div><span>{{hoursToWorkPerDay | number : 0}}</span> часов
            <span>{{(hoursToWorkPerDay % 1)*60 | number : 0 }}</span> минут надо каждому работать в день
        </div>
    </div>

</div>