html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(lobster.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: url('MaterialIcons-Regular.ttf')

}

* {
    font-family: Pompadur, 'Comic Sans MS', cursive;
    color: #757575;
}

h1 {
    font-size: 300%;
}

.container {
    text-align: center;
    min-width: 200px;
    height: 500px;
    margin: auto;
}

.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.face {
    font-size: 200px;
padding-bottom: 50px;
}

h1 > i {
    padding-right: 10px;
    padding-left: 10px;
}

.happy {
    color: green;
}

.nothappy {
    color: orange;
}

.sad {
    color: #c60000;
}

h1 {
    line-height: 160px;
    text-decoration: underline;
}

.stats {
    width: 660px;
    margin: auto;
    text-align: left;
    font-size: 30px;
    line-height: 50px;
}

.stats  span {
    font-weight: bold;
}